DATABASE_URL=postgres://user:pass@localhost:5432/chaingraph?sslmode=disable
WS_URL=ws://127.0.0.1:8080
RPC_URL=<http://127.0.0.1:8888>
# https://hyperion.docs.eosrio.io/dev/endpoint/#eos
HYPERION_RPC_URL=<eos_hyperion_rpc>
DELPHIORACLE_PRODUCERS=eosiodetroit,criptolions1,ivote4eosusa,eostitanprod,alohaeosprod,teamgreymass
